In [1]:
#import the library sqlite3
#YOUR CODE 
import pandas as pd
import sqlite3

#create a new database and open a database connection with the name example
#YOUR CODE 
conn = sqlite3.connect("db/dataTest.db") 

# create a data cursor cur in order execute SQL statements and fetch results from SQL queries
#YOUR CODE 
cur = conn.cursor()

# Create table with the column date, side, symbol, qty, price
#YOUR CODE 
cur.execute("CREATE TABLE IF NOT EXISTS dataTest(date, side, symbol, qty, price)")

# Insert 3 row of data: the stock APPLE ( AAPL) with the date of transaction, the nature of side ( BUY or SELL),
#the quantity of the stock traded and the price
#YOUR CODE 
cur.execute('''INSERT INTO dataTest(date, side, symbol, qty, price)
Values 
    ('2021-01-01', 'BUY', 'AAPL', 100, 148.48),
    ('2021-01-02', 'SELL', 'AAPL', 100, 149.11),
    ('2021-01-03', 'BUY', 'AAPL', 75, 144.27)
''')

# Save (commit) the changes
#YOUR CODE 
conn.commit()

#return all resulting rows
#YOUR CODE 
cur.execute("SELECT * FROM dataTest")

df = pd.DataFrame(cur.fetchall(),columns = ['date','slide','symbol','qty','price'])
print(df)
# Close the connection
#YOUR CODE 
conn.close()

          date slide symbol  qty   price
0   2021-01-01   BUY   AAPL  100  148.48
1   2021-01-02  SELL   AAPL  100  149.11
2   2021-01-03   BUY   AAPL   75  144.27
3   2021-01-01   BUY   AAPL  100  148.48
4   2021-01-02  SELL   AAPL  100  149.11
5   2021-01-03   BUY   AAPL   75  144.27
6   2021-01-01   BUY   AAPL  100  148.48
7   2021-01-02  SELL   AAPL  100  149.11
8   2021-01-03   BUY   AAPL   75  144.27
9   2021-01-01   BUY   AAPL  100  148.48
10  2021-01-02  SELL   AAPL  100  149.11
11  2021-01-03   BUY   AAPL   75  144.27
12  2021-01-01   BUY   AAPL  100  148.48
13  2021-01-02  SELL   AAPL  100  149.11
14  2021-01-03   BUY   AAPL   75  144.27
15  2021-01-01   BUY   AAPL  100  148.48
16  2021-01-02  SELL   AAPL  100  149.11
17  2021-01-03   BUY   AAPL   75  144.27
18  2021-01-01   BUY   AAPL  100  148.48
19  2021-01-02  SELL   AAPL  100  149.11
20  2021-01-03   BUY   AAPL   75  144.27
21  2021-01-01   BUY   AAPL  100  148.48
22  2021-01-02  SELL   AAPL  100  149.11
23  2021-01-03   BUY   AAPL   75  144.27
24  2021-01-01   BUY   AAPL  100  148.48
25  2021-01-02  SELL   AAPL  100  149.11
26  2021-01-03   BUY   AAPL   75  144.27
27  2021-01-01   BUY   AAPL  100  148.48
28  2021-01-02  SELL   AAPL  100  149.11
29  2021-01-03   BUY   AAPL   75  144.27
30  2021-01-01   BUY   AAPL  100  148.48
31  2021-01-02  SELL   AAPL  100  149.11
32  2021-01-03   BUY   AAPL   75  144.27
33  2021-01-01   BUY   AAPL  100  148.48
34  2021-01-02  SELL   AAPL  100  149.11
35  2021-01-03   BUY   AAPL   75  144.27
36  2021-01-01   BUY   AAPL  100  148.48
37  2021-01-02  SELL   AAPL  100  149.11
38  2021-01-03   BUY   AAPL   75  144.27
39  2021-01-01   BUY   AAPL  100  148.48
40  2021-01-02  SELL   AAPL  100  149.11
41  2021-01-03   BUY   AAPL   75  144.27
42  2021-01-01   BUY   AAPL  100  148.48
43  2021-01-02  SELL   AAPL  100  149.11
44  2021-01-03   BUY   AAPL   75  144.27
45  2021-01-01   BUY   AAPL  100  148.48
46  2021-01-02  SELL   AAPL  100  149.11
47  2021-01-03   BUY   AAPL   75  144.27
48  2021-01-01   BUY   AAPL  100  148.48
49  2021-01-02  SELL   AAPL  100  149.11
50  2021-01-03   BUY   AAPL   75  144.27

## the construction of a financial database

Let’s start simple and only consider the structure for the equity data that we are gathering for now – in our case the constituents of the S&P500 index. We can tag on the various tables and possibly whole databases to the mix as and when we need to, i.e. when we start to deal with the spot currency data and fund data that we plan to include.

the  plan is to segregate theequity data into 4 separate tables, using unique ids and foreign keys to create the relevant relationships and links between them.

The tables will be as follows:


<img src='Tables.png'>

<img src='C:\Users\User\Desktop\Formations_Data-LAPTOP-JP680GIQ\Formations_Data-LAPTOP-JP680GIQ\Organisme_formation\Ib_cegos\AXA\MCD.png'>

In [18]:
#import the library os and the module Error of the library sqlite3
import os
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    #YOUR CODE 
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
        return conn
    except Error as e:
        print(e)



def create_table(conn, name, cols):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    #YOUR CODE 
    cur = conn.cursor()
    cur.execute(f"CREATE TABLE IF NOT EXISTS {name}({cols})")



        

#the name of the database
db_name = "db/dataTestBis.db"
        
def main():
    
    conn = create_connection(db_name)

    
    
    try:
        if conn is not None:
            # create exchange table
            #YOUR CODE
            create_table(conn, "exchange", '''
                                id VARCHAR(255) PRIMARY KEY, 
                                name VARCHAR(255), 
                                currency VARCHAR(255), 
                                code VARCHAR(255)
                                ''')

            # create company table
            #YOUR CODE
            create_table(conn, "company", '''
                                id VARCHAR(255) PRIMARY KEY,
                                name VARCHAR(255),
                                industry VARCHAR(255),
                                sector VARCHAR(255),
                                hq_location VARCHAR(255),
                                security_id VARCHAR(255),
                                FOREIGN KEY(security_id) REFERENCES security_price(security_id)
                                ''')


            # create security table
            #YOUR CODE
            create_table(conn, "security", '''
                                id VARCHAR(255) PRIMARY KEY,
                                ticker VARCHAR(255),
                                name VARCHAR(255),
                                company_id VARCHAR(255),
                                exchange_id VARCHAR(255),
                                FOREIGN KEY (company_id) REFERENCES company(id),
                                FOREIGN KEY (exchange_id) REFERENCES exchange(id)
                                ''')


            # create security_price table

            #YOUR CODE
            create_table(conn, "security_price", '''
                                id VARCHAR(255) PRIMARY KEY,
                                date DATE,
                                open VARCHAR(255),
                                high VARCHAR(255),
                                low VARCHAR(255),
                                close VARCHAR(255),
                                volume VARCHAR(255),
                                adj_close VARCHAR(255),
                                security_id VARCHAR(255),
                                FOREIGN KEY (security_id) REFERENCES security(id)
                                ''')


        else:
            print("Error! cannot create the database connection.")
    except Error as e:
        print(e)
    finally:
        if conn:            
            # conn.commit()
            # cur = conn.cursor()
            # cur.execute("SELECT * FROM exchange")   
            # df = pd.DataFrame(cur.fetchall(),columns = ['id','name','currency','code'])
            # print(df)
            conn.close()

    
main()

2.6.0

In [3]:
import pandas as pd
#import the library pandas , requests and io
exchange_data = pd.read_csv("https://www.iso20022.org/sites/default/files/ISO10383_MIC/ISO10383_MIC.csv", encoding='iso-8859-1' )

In [4]:
exchange_data.head(30)

,MIC,OPERATING MIC,OPRT/SGMT,MARKET NAME-INSTITUTION DESCRIPTION,LEGAL ENTITY NAME,LEI,MARKET CATEGORY CODE,ACRONYM,ISO COUNTRY CODE (ISO 3166),CITY,WEBSITE,STATUS,CREATION DATE,LAST UPDATE DATE,LAST VALIDATION DATE,EXPIRY DATE,COMMENTS
0,DRSP,DRSP,OPRT,EURONEXT UK - REPORTING SERVICES,EURONEXT LONDON LIMITED,969500HMVSZ0TCV65D58,APPA,NaN,GB,LONDON,WWW.EURONEXT.COM,ACTIVE,20210927,20210927,20210927.0,NaN,APPROVED PUBLICATION ARRANGEMENT.
1,XCNQ,XCNQ,OPRT,CANADIAN SECURITIES EXCHANGE,"CNSX MARKETS, INC.",NaN,RMKT,CSE LISTED,CA,TORONTO,WWW.THECSE.COM,ACTIVE,20090427,20210927,20210927.0,NaN,FORMERLY KNOWN AS PURE (CSE OTHER LISTED) FORM...
2,PURE,XCNQ,SGMT,CANADIAN SECURITIES EXCHANGE - PURE,"CNSX MARKETS, INC.",NaN,NSPD,CSE-PURE,CA,TORONTO,WWW.THECSE.COM,ACTIVE,20061225,20210927,20210927.0,NaN,FORMERLY KNOWN AS PURE (CSE OTHER LISTED) FORM...
3,ZODM,ZODM,OPRT,ZODIA MARKETS,ZODIA MARKETS HOLDINGS LIMITED,5493006GZOHISU7JTC27,NSPD,NaN,GB,LONDON,WWW.ZODIA-MARKETS.COM,ACTIVE,20210927,20210927,20210927.0,NaN,CRYPTOASSET BROKERAGE AND EXCHANGE.
4,FNFX,BGCF,SGMT,FENICS FX ECN,"FENICS FX, LLC",549300I0NONVB9S5DZ56,NSPD,NaN,US,NEW YORK,WWW.FENICSFX.COM,ACTIVE,20210927,20210927,20210927.0,NaN,ELECTRONIC COMMUNICATIONS NETWORK.
5,NORX,NORX,OPRT,NASDAQ OSLO ASA,NASDAQ OSLO ASA,5493003IZZWOHHJY1L88,RMKT,NaN,NO,OSLO,WWW.NASDAQ.COM/SOLUTIONS/EUROPEAN-COMMODITIES,ACTIVE,20110523,20210927,20210927.0,NaN,NaN
6,POSE,POSE,OPRT,PORTFOLIO STOCK EXCHANGE,"EUROPEAN DIGITAL SECURITIES EXCHANGE, S.L.",959800UP9ANDBHTKJ408,MLTF,NaN,ES,MADRID,WWW.PORTFOLIO.EXCHANGE,ACTIVE,20210927,20210927,NaN,NaN,MULTILATERAL TRADING FACILITY.
7,PUND,PUND,OPRT,PUNDION LLC,PUNDION LLC,549300FOYST42PEQ1R51,NSPD,NaN,US,NEW YORK,WWW.PUNDION.COM,ACTIVE,20210927,20210927,20210927.0,NaN,EQUITY PRODUCTS.
8,UCBG,UCBG,OPRT,UNICREDIT BULBANK AD,UNICREDIT BULBANK AD,549300Z7V2WOFIMUEK50,SINT,NaN,BG,SOFIA,WWW.UNICREDITBULBANK.BG,ACTIVE,20210927,20210927,20210927.0,NaN,SYSTEMATIC INTERNALISER.
9,NZFX,XASX,SGMT,ASX - NEW ZEALAND FUTURES & OPTIONS,AUSTRALIAN SECURITIES EXCHANGE (ASX),549300SDXT36XYPVWI79,NSPD,ASX,AU,SYDNEY,WWW.ASX.COM.AU,ACTIVE,20070924,20210927,20210927.0,NaN,NaN
10,XOCH,XOCH,OPRT,"ONECHICAGO, LLC",NaN,NaN,NSPD,NaN,US,CHICAGO,WWW.ONECHICAGO.COM,EXPIRED,20050627,20210823,20210823.0,20210823.0,NaN
11,BBLX,BBLX,OPRT,BONDBLOX EXCHANGE,BONDEVALUE PTE LTD,NaN,NSPD,BBX,SG,SINGAPORE,WWW.BONDBLOX.COM,ACTIVE,20210823,20210823,20210823.0,NaN,NaN
12,BACR,BAIP,SGMT,BANK OF AMERICA SECURITIES - CENTRAL RISK,NaN,GGDZP1UYGU9STUHRDP48,NSPD,NaN,HK,HONG KONG,WWW.BOFAML.COM,ACTIVE,20210726,20210726,NaN,NaN,NaN
13,SPBE,SPBE,OPRT,SPB EXCHANGE - ALL MARKETS,PUBLIC JOINT-STOCK COMPANY SPB EXCHANGE,253400T8G8SXRUHTL526,NSPD,SPB,RU,MOSCOW,HTTPS://SPBEXCHANGE.RU,ACTIVE,20210322,20210726,20210726.0,NaN,"SHARES, DEPOSITARY RECEIPTS, GOVERNMENT BONDS,..."
14,OTCM,OTCM,OPRT,OTC LINK ATS - OTC MARKETS,OTC MARKETS GROUP INC.,254900LQDMW14QIVAH45,NSPD,NaN,US,NEW YORK,WWW.OTCMARKETS.COM,ACTIVE,20120528,20210726,20210726.0,NaN,OPERATIONAL MIC FOR OTC MARKETS.
15,STUF,XSTU,SGMT,BOERSE STUTTGART - FREIVERKEHR - TECHNICAL PLA...,BOERSE STUTTGART,529900A0WHA0NVXY0G45,NSPD,NaN,DE,STUTTGART,WWW.BOERSE-STUTTGART.DE,ACTIVE,20210726,20210726,NaN,NaN,NaN
16,XSTP,XSTU,SGMT,BOERSE STUTTGART - TECHNICAL PLATFORM 3,BOERSE STUTTGART,529900A0WHA0NVXY0G45,NSPD,NaN,DE,STUTTGART,WWW.BOERSE-STUTTGART.DE,ACTIVE,20210726,20210726,NaN,NaN,NaN
17,STUE,XSTU,SGMT,BOERSE STUTTGART - REGULIERTER MARKT - TECHNIC...,BOERSE STUTTGART,529900A0WHA0NVXY0G45,NSPD,NaN,DE,STUTTGART,WWW.BOERSE-STUTTGART.DE,ACTIVE,20210726,20210726,NaN,NaN,NaN
18,FREX,FREX,OPRT,COINBASE DERIVATIVES,"LMX LABS, LLC",549300QHD76EP6ZKTT48,DCMS,CDE,US,CHICAGO,WWW.COINBASE.COM/DERIVATIVES,ACTIVE,20201026,20220822,20220822.0,NaN,NaN
19,HCER,HMTF,SGMT,HI-CERT - MULTILATERAL TRADING FACILITY,HI-MTF SIM S.P.A.,815600F681369854E440,MLTF,NaN,IT,MILANO,WWW.HIMTF.COM,ACTIVE,20200727,20210628,20210628.0,NaN,MTF FOR CERTIFICATES AND COVERED WARRANT.
20,IDXM,IDXM,OPRT,"IDX MARKETS, LLC","IDX MARKETS, LLC",9845006C2FC4E0741B90,ATSS,NaN,US,NEW YORK,WWW.IDXMARKETS.COM,ACTIVE,20210628,20210628,NaN,NaN,REGISTERED ALTERNATIVE TRADING SYSTEM (ATS) FO...
21,MBCP,MBCP,OPRT,MILLENNIUM BCP,BANCO COMERCIAL PORTUGUES S.A.,JU1U6S0DG9YLT7N8ZV32,SINT,MILLENNIUMBCP,PT,PORTO,HTTPS://IND.MILLENNIUMBCP.PT/PT/PARTICULARES/P...,ACTIVE,20210628,20210628,NaN,NaN,SYSTEMATIC INTERNALISER IN FX DERIVATIVES AND ...
22,GMBG,MBUL,SGMT,MTF SOFIA - GROWTH MARKET,CAPMAN AD,5299003795MPR9UZ1J25,NSPD,NaN,BG,SOFIA,WWW.CAPMAN.BG,ACTIVE,20210628,20210628,NaN,NaN,NaN
23,OCEA,OCEA,OPRT,BLUE OCEAN ALTERNATIVE TRADING SYSTEM,"BLUE OCEAN ATS, LLC",NaN,ATSS,BOATS,US,SEA GIRT,WWW.BLUEOCEANATS.COM,ACTIVE,20210628,20210628,NaN,NaN,"BLUE OCEAN ATS, LLC IS A US REGISTERED BROKER ..."
24,OSDS,OSDS,OPRT,OSL DIGITAL SECURITIES EXCHANGE,NaN,549300WBXH3AFK5BRJ77,NSPD,OSLDS,HK,HONG KONG,HTTPS://OSL.COM/EN/HOME,ACTIVE,20210628,20210628,NaN,NaN,OSL DIGITAL SECURITIES - ASIA'S LEADING DIGITA...
25,OSSG,OSSG,OPRT,OSL SG EXCHANGES,OSL SG PTE. LTD.,5493005YD2GDV5LCUD15,NSPD,OSLSG,SG,SINGAPORE,WWW.SG.OSL.COM,ACTIVE,20210628,20210628,NaN,NaN,ASIA LEADING DIGITAL ASSET PLATFORM - OSL SG E...
26,RR4G,RR4G,OPRT,ROUTE4GAS,ROUTE4GAS B.V.,724500EY0KGMVVONVS49,NSPD,R4G,NL,AMSTERDAM,HTTPS://ROUTE4GAS.COM/INFO/,ACTIVE,20210628,20210628,NaN,NaN,NaN
27,TRUK,TRUK,OPRT,TRADING 212 UK LIMITED,TRADING 212 UK LIMITED,2138006AXBAC4F1AWD58,NSPD,NaN,GB,LONDON,WWW.TRADING212.COM,ACTIVE,20210628,20210628,NaN,NaN,NaN
28,UGEN,UGEN,OPRT,UNITEDBLOCKTRADE,UNITED GENERAL LIMITED,9845009F695B98C2BA24,NSPD,NaN,GB,BRADFORD,WWW.UNITEDGENERAL.CO.UK,ACTIVE,20210628,20210628,NaN,NaN,NaN
29,XGLO,XWAR,SGMT,WARSAW STOCK EXCHANGE/ EQUITIES/GLOBAL CONNECT...,WARSAW STOCK EXCHANGE,25940039ZHD3Z37GKR71,MLTF,NaN,PL,WARSAW,WWW.GPW.PL,ACTIVE,20210426,20210628,20210628.0,NaN,MULTILATERAL TRADING FACILITY.

In [5]:
exchange_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2561 entries, 0 to 2560
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   MIC                                  2561 non-null   object
 1   OPERATING MIC                        2561 non-null   object
 2   OPRT/SGMT                            2561 non-null   object
 3   MARKET NAME-INSTITUTION DESCRIPTION  2561 non-null   object
 4   LEGAL ENTITY NAME                    495 non-null    object
 5   LEI                                  1833 non-null   object
 6   MARKET CATEGORY CODE                 2559 non-null   object
 7   ACRONYM                              890 non-null    object
 8   ISO COUNTRY CODE (ISO 3166)          2560 non-null   object
 9   CITY                                 2559 non-null   object
 10  WEBSITE                              2387 non-null   object
 11  STATUS                               2561 non-null   object
 12  CREATION DATE                        2561 non-null   int64
 13  LAST UPDATE DATE                     2561 non-null   int64
 14  LAST VALIDATION DATE                 213 non-null    float64
 15  EXPIRY DATE                          438 non-null    float64
 16  COMMENTS                             1502 non-null   object
dtypes: float64(2), int64(2), object(13)
memory usage: 340.3+ KB

In [6]:
exchange_data = exchange_data[['ISO COUNTRY CODE (ISO 3166)', 'MIC', 'MARKET NAME-INSTITUTION DESCRIPTION', 'ACRONYM']]
exchange_data.head()

,ISO COUNTRY CODE (ISO 3166),MIC,MARKET NAME-INSTITUTION DESCRIPTION,ACRONYM
0,GB,DRSP,EURONEXT UK - REPORTING SERVICES,NaN
1,CA,XCNQ,CANADIAN SECURITIES EXCHANGE,CSE LISTED
2,CA,PURE,CANADIAN SECURITIES EXCHANGE - PURE,CSE-PURE
3,GB,ZODM,ZODIA MARKETS,NaN
4,US,FNFX,FENICS FX ECN,NaN

In [7]:
exchange_data.rename(columns={'ISO COUNTRY CODE (ISO 3166)' : 'country_code', 
                              'MIC':'code', 
                              'MARKET NAME-INSTITUTION DESCRIPTION': 'name',
                              'ACRONYM':'acronym'}, inplace=True)
exchange_data.head(30)

,country_code,code,name,acronym
0,GB,DRSP,EURONEXT UK - REPORTING SERVICES,NaN
1,CA,XCNQ,CANADIAN SECURITIES EXCHANGE,CSE LISTED
2,CA,PURE,CANADIAN SECURITIES EXCHANGE - PURE,CSE-PURE
3,GB,ZODM,ZODIA MARKETS,NaN
4,US,FNFX,FENICS FX ECN,NaN
5,NO,NORX,NASDAQ OSLO ASA,NaN
6,ES,POSE,PORTFOLIO STOCK EXCHANGE,NaN
7,US,PUND,PUNDION LLC,NaN
8,BG,UCBG,UNICREDIT BULBANK AD,NaN
9,AU,NZFX,ASX - NEW ZEALAND FUTURES & OPTIONS,ASX
10,US,XOCH,"ONECHICAGO, LLC",NaN
11,SG,BBLX,BONDBLOX EXCHANGE,BBX
12,HK,BACR,BANK OF AMERICA SECURITIES - CENTRAL RISK,NaN
13,RU,SPBE,SPB EXCHANGE - ALL MARKETS,SPB
14,US,OTCM,OTC LINK ATS - OTC MARKETS,NaN
15,DE,STUF,BOERSE STUTTGART - FREIVERKEHR - TECHNICAL PLA...,NaN
16,DE,XSTP,BOERSE STUTTGART - TECHNICAL PLATFORM 3,NaN
17,DE,STUE,BOERSE STUTTGART - REGULIERTER MARKT - TECHNIC...,NaN
18,US,FREX,COINBASE DERIVATIVES,CDE
19,IT,HCER,HI-CERT - MULTILATERAL TRADING FACILITY,NaN
20,US,IDXM,"IDX MARKETS, LLC",NaN
21,PT,MBCP,MILLENNIUM BCP,MILLENNIUMBCP
22,BG,GMBG,MTF SOFIA - GROWTH MARKET,NaN
23,US,OCEA,BLUE OCEAN ALTERNATIVE TRADING SYSTEM,BOATS
24,HK,OSDS,OSL DIGITAL SECURITIES EXCHANGE,OSLDS
25,SG,OSSG,OSL SG EXCHANGES,OSLSG
26,NL,RR4G,ROUTE4GAS,R4G
27,GB,TRUK,TRADING 212 UK LIMITED,NaN
28,GB,UGEN,UNITEDBLOCKTRADE,NaN
29,PL,XGLO,WARSAW STOCK EXCHANGE/ EQUITIES/GLOBAL CONNECT...,NaN

In [8]:
exchange_data['id'] = exchange_data.index
exchange_data.head()

  country_code  code                                 name     acronym  id
0           GB  DRSP    EURONEXT  UK - REPORTING SERVICES         NaN   0
1           CA  XCNQ         CANADIAN SECURITIES EXCHANGE  CSE LISTED   1
2           CA  PURE  CANADIAN SECURITIES EXCHANGE - PURE    CSE-PURE   2
3           GB  ZODM                        ZODIA MARKETS         NaN   3
4           US  FNFX                        FENICS FX ECN         NaN   4

In [9]:
recodes = {'US': 'USD', 'GB': 'GBP', 'DE': 'EUR'}
exchange_data['currency'] = exchange_data['country_code'].map(recodes).fillna(exchange_data['country_code'])
exchange_data[['id', 'name','currency', 'code']].head(30)
# create the column currency in the the dataframe exhange_data whose values 
#are mapped with the country code : US => USD, GB =>GBP, DE =>EUR

    id                                               name currency  code
0    0                  EURONEXT  UK - REPORTING SERVICES      GBP  DRSP
1    1                       CANADIAN SECURITIES EXCHANGE       CA  XCNQ
2    2                CANADIAN SECURITIES EXCHANGE - PURE       CA  PURE
3    3                                      ZODIA MARKETS      GBP  ZODM
4    4                                      FENICS FX ECN      USD  FNFX
5    5                                    NASDAQ OSLO ASA       NO  NORX
6    6                           PORTFOLIO STOCK EXCHANGE       ES  POSE
7    7                                        PUNDION LLC      USD  PUND
8    8                               UNICREDIT BULBANK AD       BG  UCBG
9    9                ASX - NEW ZEALAND FUTURES & OPTIONS       AU  NZFX
10  10                                    ONECHICAGO, LLC      USD  XOCH
11  11                                  BONDBLOX EXCHANGE       SG  BBLX
12  12          BANK OF AMERICA SECURITIES - CENTRAL RISK       HK  BACR
13  13                         SPB EXCHANGE - ALL MARKETS       RU  SPBE
14  14                         OTC LINK ATS - OTC MARKETS      USD  OTCM
15  15  BOERSE STUTTGART - FREIVERKEHR - TECHNICAL PLA...      EUR  STUF
16  16            BOERSE STUTTGART - TECHNICAL PLATFORM 3      EUR  XSTP
17  17  BOERSE STUTTGART - REGULIERTER MARKT - TECHNIC...      EUR  STUE
18  18                               COINBASE DERIVATIVES      USD  FREX
19  19            HI-CERT - MULTILATERAL TRADING FACILITY       IT  HCER
20  20                                   IDX MARKETS, LLC      USD  IDXM
21  21                                     MILLENNIUM BCP       PT  MBCP
22  22                          MTF SOFIA - GROWTH MARKET       BG  GMBG
23  23              BLUE OCEAN ALTERNATIVE TRADING SYSTEM      USD  OCEA
24  24                    OSL DIGITAL SECURITIES EXCHANGE       HK  OSDS
25  25                                   OSL SG EXCHANGES       SG  OSSG
26  26                                          ROUTE4GAS       NL  RR4G
27  27                             TRADING 212 UK LIMITED      GBP  TRUK
28  28                                   UNITEDBLOCKTRADE      GBP  UGEN
29  29  WARSAW STOCK EXCHANGE/ EQUITIES/GLOBAL CONNECT...       PL  XGLO

In [10]:
# save the data in a sql table exchange in the data db_name
#YOUR CODE
conn = create_connection(db_name)


exchange_data[['id', 'name','currency', 'code']].to_sql('exchange',conn ,if_exists='replace', index = False)

conn.close()

2.6.0

In [11]:
# scrape wiki table with symbols and details of Dow Jones constituents
dj_constituents = pd.read_html('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average#Components')[1]
dj_constituents.rename(columns={'Company':'name', 'Industry': 'industry', 'Symbol': 'ticker'}, inplace=True)
dj_constituents.head(30)

,name,Exchange,ticker,industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,2.88%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,3.56%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,4.88%
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,3.15%
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,3.40%
5,Caterpillar,NYSE,CAT,Construction and Mining,1991-05-06,NaN,4.19%
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,3.05%
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,NaN,1.00%
8,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.28%
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,2.32%
10,Dow,NYSE,DOW,Chemical industry,2019-04-02,NaN,1.32%
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-20,NaN,6.22%
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,5.90%
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,Also 1925-12-07 to 2008-02-19 under various na...,3.71%
14,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.69%
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01,NaN,0.91%
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,3.60%
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,2.45%
18,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,4.89%
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,1.65%
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,5.43%
21,Nike,NYSE,NKE,Clothing industry,2013-09-20,NaN,2.48%
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,3.15%
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,3.38%
24,Travelers,NYSE,TRV,Insurance,2009-06-08,NaN,3.38%
25,UnitedHealth,NYSE,UNH,Managed health care,2012-09-24,NaN,10.14%
26,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,NaN,0.97%
27,Visa,NYSE,V,Financial services,2013-09-20,NaN,4.06%
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,NaN,0.88%
29,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,3.04%

In [12]:
# scrape wiki table with symbols and details of s&P500 constituents
sp_constituents = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]#.to_csv('constintuents_current.csv', index=False)
sp_constituents.rename(columns={'Symbol': 'ticker', 'Security':'name', 'Headquarters Location': 'hq_location',
                                'GICS Sector': 'sector', 'GICS Sub-Industry':'industry'},inplace=True)
sp_constituents.head()

,ticker,name,SEC filings,sector,industry,hq_location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981

In [13]:
#concetenate the previous tables/dataframe sp_constituents & dj_constituents with  the columns'name', 'industry', 'sector', 'hq_location'
company_table = pd.concat([sp_constituents[['name', 'industry', 'sector', 'hq_location']], dj_constituents[['name', 'industry']]], ignore_index=True)
#drop duplicate
company_table.drop_duplicates(subset='name', inplace=True)
#sort
company_table = company_table.sort_values(by='name')
#reset index
company_table = company_table.reset_index(drop=True)
#create the colum id based on the index
#YOUR CODE 
company_table['id'] = company_table.index

In [14]:
company_table

,name,industry,sector,hq_location,id
0,3M,Industrial Conglomerates,Industrials,"Saint Paul, Minnesota",0
1,A. O. Smith,Building Products,Industrials,"Milwaukee, Wisconsin",1
2,ADM,Agricultural Products,Consumer Staples,"Chicago, Illinois",2
3,ADP,Data Processing & Outsourced Services,Information Technology,"Roseland, New Jersey",3
4,AES Corporation,Independent Power Producers & Energy Traders,Utilities,"Arlington, Virginia",4
...,...,...,...,...,...
509,Zebra Technologies,Electronic Equipment & Instruments,Information Technology,"Lincolnshire, Illinois",509
510,Zimmer Biomet,Health Care Equipment,Health Care,"Warsaw, Indiana",510
511,Zions Bancorporation,Regional Banks,Financials,"Salt Lake City, Utah",511
512,Zoetis,Pharmaceuticals,Health Care,"Parsippany, New Jersey",512
513,eBay,Internet & Direct Marketing Retail,Consumer Discretionary,"San Jose, California",513

In [15]:
#concetenate the previous tables/dataframe sp_constituents & dj_constituents with  the columns'ticker', 'name'
security_table = pd.concat([dj_constituents[['name', 'ticker']], sp_constituents[['name', 'ticker']]], ignore_index=True)
#drop duplicate
security_table.drop_duplicates(subset='name', inplace=True)
#sort
security_table = security_table.sort_values(by='name')
#reset index
security_table = security_table.reset_index(drop=True)
#create the colum id based on the index
#YOUR CODE 
security_table['id'] = security_table.index

In [16]:
security_table

                     name ticker   id
0                      3M    MMM    0
1             A. O. Smith    AOS    1
2                     ADM    ADM    2
3                     ADP    ADP    3
4         AES Corporation    AES    4
..                    ...    ...  ...
509    Zebra Technologies   ZBRA  509
510         Zimmer Biomet    ZBH  510
511  Zions Bancorporation   ZION  511
512                Zoetis    ZTS  512
513                  eBay   EBAY  513

[514 rows x 3 columns]

In [17]:
#create the foreign key :  populating the security table with the company_id
#first step : create a dictionary with key, value pairs being the name of the company and the corresponding id 
#within its own table, which will be our foreign key in the second table.

#YOUT CODE

2.6.0

OperationalError: no such table: security

In [ ]:
#Seconde step: create the foreign key company id 
#YOUR CODE

In [ ]:
#create the foreign key : populate the company table with the security_id:
#YOUR CODE

In [ ]:
#Reda the nyse.csv and the nasdaq.csv
#YOUR CODE 
nyse.head()

In [ ]:
nasdaq.head()

In [ ]:
#populate the exchange_id column : assign the correct exchange_id for each stock in the security table:
# the exchange_id of the nyse stocks will be 1300
#YOUR CODE
security_table

In [ ]:
#populate the exchange_id column : assign the correct exchange_id for each stock in the security table:
# the exchange_id of  will be 1300 for the nyse stocks and 367 for the nasdaq stocks
#YOUR CODE

#YOUR CODE 
security_table.head(30)

In [ ]:
#save the data in the sql table security and company of the database db_name
#YOUR CODE

In [ ]:
#Extraction the prices of YAHOO: WARNING this action may take 15 min !!!
from tqdm import tqdm_notebook as tqdm
import pandas_datareader.data as web
stock_pricing_dfs = []
for stock_id in tqdm(security_table['id']):
    try:
        stock_pricing_df = web.DataReader(security_table.iloc[stock_id]['ticker'], 
                           start='2010-1-1', 
                           end='2020-08-31', 
                           data_source='yahoo')
        stock_pricing_df['security_id'] = stock_id
        stock_pricing_dfs.append(stock_pricing_df)
    except:
        pass
security_price_table = pd.concat(stock_pricing_dfs)

In [ ]:
security_price_table.info()

In [ ]:
#insert data in the table security_price
security_price_table.columns = ['high', 'low', 'open', 'close', 'volume', 'adj_close', 'security_id']
security_price_table.reset_index(inplace=True)
security_price_table['id'] = security_price_table.index
print(security_price_table.head())
security_price_table.to_sql("security_price", conn, if_exists="append", index=False)